body {
  background-color: black;
  color: rgb(234, 234, 234);
  font-family: 'Montserrat', sans-serif;
  overflow: scroll;
}

h1 {
  font-weight: 100;
  border: 2px solid;
  border-color: #5e5e5e;
  border-radius: 10px;
  font-size: 75px;
  text-align: center;
  padding: 2%;
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bio {
  font-size: 27px
}

.placeholder {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  text-align: center;
  margin-top: 10px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

span {
    text-decoration: underline;
    font-size: 30px;
}

.second-span {
    font-weight: 400;
    font-size: 25px;
    text-decoration: none;
}

h2 {
  font-weight: 100;
  margin: 0;
  padding: 30px;
  border: 2px solid;
  border-color: #5e5e5e;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 50px;
  box-sizing: border-box;
  text-align: center;
}

article {
  margin: 50px;
}

p {
  font-weight: 100;
  padding: 2%;
  border: 2px solid;
  border-color: #5e5e5e;
  border-radius: 10px;
  font-size: 20px;
}

a {
  font-size: 30px;
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(88, 88, 88);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

footer h3 {
  font-weight: 200;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}