body {
  background-color: black;
  color: rgb(213, 213, 213);
  font-family: "Courier New", Courier, monospace;
  overflow: scroll;
}

h1 {
  font-weight: 100;
  border: 5px solid; /* Adjust the thickness as needed */
  border-image: linear-gradient(to left, #6c56ff, #d256ff) 1;
  font-size: 100px;
  text-align: center;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.placeholder {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  text-align: center;
  margin-top: 10px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.left-place,
.right-place {
  flex: 1;
  max-width: 50%;
}

.right-place h2 {
    border: 5px solid; /* Adjust the thickness as needed */
    border-image: linear-gradient(to left, #6c56ff, #d256ff) 1;
}

.right-place p {
    border: 5px solid; /* Adjust the thickness as needed */
    border-image: linear-gradient(to left, #6c56ff, #d256ff) 1;
}

.left-place h2 {
    border: 5px solid; /* Adjust the thickness as needed */
    border-image: linear-gradient(to left, #6c56ff, #d256ff) 1;
}

.left-place p {
    border: 5px solid; /* Adjust the thickness as needed */
    border-image: linear-gradient(to left, #6c56ff, #d256ff) 1;
}

span {
    text-decoration: underline;
    font-size: 30px;
}

.second-span {
    font-weight: 550;
    font-size: 25px;
    text-decoration: none;
}

h2 {
  font-weight: 700;
  margin: 0;
  padding: 30px;
  border: 5px solid; /* Adjust the thickness as needed */
  border-image: linear-gradient(to left, #6c56ff, #d256ff) 1;
  margin-top: 10px;
  font-size: 50px;
  box-sizing: border-box;
  text-align: center;
}

p {
  padding: 10px;
  border: 5px solid; /* Adjust the thickness as needed */
  border-image: linear-gradient(to left, #6c56ff, #d256ff) 1;
  font-size: 20px;
}

button {
  font-family: "Courier New", Courier, monospace;
  color: rgb(255, 255, 255);
  border: 5px solid; /* Adjust the thickness as needed */
  border-image: linear-gradient(to left, #6c56ff, #d256ff) 1;
  text-decoration: none;
  background-color: black;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(88, 88, 88);
}

h6 {
  font-size: 20px;
  padding: 5px;
  margin: 10px;
  text-align: center;
}
